DATABASE_URL="postgresql://postgres:postgres@localhost:5432/doctoloman?schema=public"
PORT=3000
NODE_ENV=development

JITSI_SERVER_URL=https://meet.jit.si

FIREBASE_PUSH_ENABLED=false
FIREBASE_SERVICE_ACCOUNT_PATH=secrets/firebase-service-account.json